html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
    padding: 75px 0;
    background: linear-gradient(#ffffff, #df9696);
    font-family: "DynaPuff", cursive;
}

.container {
    max-width: 100%;
    margin: 20px auto 0 auto;
}

#togepi-gif {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

h1 {
    font-size: 3rem;
    margin: 50px auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

button {
    border-radius: 8px;
    min-width: 100px;
    max-width: 500px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 600;
    transition: transform 0.1s ease,
}

button:hover {
    scale: 1.05;
}

#yes-btn {
    transform-origin: center top;
    color:white;
    background-color:#3bcd51;
}

#no-btn {
    color:white;
    background-color: #db4e4e; 
}

@media (max-width: 1150px) {
    body {
        padding-top: 70px;
    }
    .container {
        max-width: 100%;
        margin: 0;
    }
    
    #togepi-gif {
        width: 380px;
        height: 304px;
        object-fit: cover;
    }
    
    h1 {
        font-size: 2rem;
        margin: 50px auto;
    }
    
    .btn-container {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    
    button {
        border-radius: 8px;
        min-width: 70px;
        max-width: 80px;
        border: none;
        cursor: pointer;
        padding: 10px 12px;
        white-space: nowrap;
        font-size: 0.7rem;
        font-weight: 300;
        transition: transform 0.1s ease,
    }
}